
.well
  = form.association :category

.well
  = form.input :name
  = form.input :url

.well
  = form.input :markup_language, collection: Ecm::Links::markup_languages
  = form.input :description, input_html: { 'data-add-editor': Itsf::Backend.features?(:'ace-rails-ap'), 'data-editor-syntax': form.object.markup_language }