= table.column :locale
= table.column :parent
= table.column :name, class: 'truncate-chars truncate-chars-30'
= table.column :short_description, class: 'truncate-chars truncate-chars-30'
= table.column :long_description, class: 'truncate-chars truncate-chars-30'
= table.column :link_footer_column, class: 'truncate-chars truncate-chars-30'
= table.column :ecm_links_links_count
= table.timestamps