= table.column :locale, sortable: true
= table.column :parent, sortable: true
= table.column :name, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :short_description, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :long_description, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :link_footer_column, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :links_count, sortable: true
= table.timestamps